.jumbotron, #jumbo-tagline {
    color: navy;
}
body {
    background-color: lightblue;
}
img {
    max-width: 90%;
    max-height: 500px;
}
.table {
    float: left;
}

.a{
    text-decoration: none;
}

.btn{
    background-color:yellowgreen;
    text-align: center;
}